.image-style {
    max-width: 300px;
    max-height: 400px;
}

.text-spacing {
    padding: 10px;
    margin: 10px;
    margin-bottom: 15px;
}

.panel-background {
    height: 100%;
}

.game-style {
    border-radius: 10px;
}

.text-content {
    margin-bottom: 15px;
}

#title {
    font-size: 50px;
    font-weight: thin;
}

#para {
    font-size: 30px;
}